.selectedTopic {
    div {
        background-color: white;
    }
}
.chosenTopic {
    div {
        background-color: green;
    }
}

.answeredTopic {
    div {
        background-color: grey;
    }
}
