@use '../abstract' as *;

.wrapper {
  height: 100vh;
}

.side-panel {
  width: 40vh;
}

.content {
  flex-grow: 1;
}

.soundboard {
  flex-grow: 1;
}

.nav-panel {
  height: 40vh;
}

.answered {
  background-color: white;
}

.not-answered {
  background-color: $cyan;
}

.selected {
  div {
    background-color: $blue;
  }
}

.nav-question {
  align-items: center;
  span {
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
  }
  .stream-board-list > button {
    align-items: center;
    margin: 20px;
    border-radius: 20px;
  }
  .nav {
    margin: 20px;
    border-radius: 20px;
  }
}

.table-content {
  flex-grow: 1;
}

.player-display-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  .nav {
    margin: 20px;
    border-radius: 20px;
  }
}

.remove-life {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;

  &--item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: $blue;
    padding: 1rem;
    border-radius: 1rem;

    &--name {
      color: $gold;
      font-weight: 800;
    }

    Button {
      color: black;
      border: 1px solid black;
      font-weight: 800;
    }
  }
}
